<div class="container">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <form action="">
        <div class="form">
          <h1 routerLink="/search">GitSearch</h1>
          <div class="form-group">
            <input type="search" name="username" id="username" class="form-control"
             placeholder="Github username"
             [(ngModel)]='username'
             (keyup)="findUser()"
             >
            <button routerLink="/user" type="submit" class="btn">Search</button>
          </div>
        </div>
      </form>
    </div>
    <div class="col-md-3">
    </div>
  </div>
</div>