input{
  width: 80%;
  position: absolute;
  top: 255px;
  border: 1px solid black;
}
button{
  position: relative;
  top: 250px;
  left: 88%;
  font-weight: 800;
  color: #D52E00;
  padding: 8px;
  background-color: transparent;
}
button:hover{
 background-color: #D52E00;
 color:white;
}
h1{
  cursor: pointer;
  position: absolute;
  top: 150px;
  font-size: 50px;
  color: #D52E00;
  border-right: 2px solid #D52E00;
  border-bottom: 2px solid #D52E00;
  box-sizing: border-box;
  box-shadow: 17px 10px #D52E00;
  padding-right: 6px; 
}